<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.EmailPasswordMapper">
    <insert id="addEmailPassword">
        INSERT INTO email.emailpassword (emailaccount, emailpassword) VALUES (#{emailaccount}, #{emailpassword})
    </insert>

    <delete id="deleteEmailPassword">
        DELETE FROM email.emailpassword WHERE emailaccount = #{emailaccount}
    </delete>

    <update id="updateEmailPassword">
        UPDATE email.emailpassword SET emailpassword = #{emailpassword} WHERE emailaccount = #{emailaccount}
    </update>

    <select id="getEmailPassword" resultType="string">
        SELECT emailpassword FROM email.emailpassword WHERE emailaccount = #{emailaccount}
    </select>
</mapper>